h1 {
    font-family: 'Coming Soon';
    font-size: 35px;
    text-align: center;
}

p {
    font-family: 'Coming Soon';
    font-size : 20px;
    text-align: center
}

tn {
    font-family: 'Coming Soon';
}

p5 {
    font-family: 'Coming Soon';
    text-align: center;
}

body {background-color: #cfc8c0;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
  }
